<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/coreui.min.css">
    <link rel="stylesheet" href="~/css/coreui-icons.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/simple-line-icons.css">
</head>
<body>
    @RenderBody()
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, Bootstrap, then CoreUI  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/coreui.min.js"></script>
    <script src="~/js/perfect-scrollbar.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>
